﻿body {background:#ffffff;padding:0;margin:0}
.main{width:1000px;padding:0 1px;background:#ffffff}
.head{height:81px;background:#ff6a00;width:998px}
.menu{height:30px}
.content{width:998px;min-height:300px;background:#009411}
.content-left{float:left;width:740px;min-height:300px}
.content-right{float:right;width:250px;min-height:300px}
.content-bottom{height:146px;width:998px}
.footer{min-height:73px;width:998px;background:#b200f1}
.box-pro-home{width:738px;height:391px}
.item-pro-home{width:155px;height:162px}
.box-img-pro-home{width:1500px;height:230px}
.box-img-pro-home img{max-width:1500px;max-height:300px;margin:5px auto}
.box-img-pro-home img:hover{border:1px solid #f2f2f2}