﻿*{margin:0;padding:0;}
a{text-decoration:none;}
ul{list-style:none}
a:hover{text-decoration:underline;}
a:link{color:#ffffff}
body {
    background:#ffffff;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
}
.wapper{
    background:#ffffff;
    width:970px;
    margin:0px auto 10px auto
}
.head{
    width:970px;
    height:32px;
    background:#ffffff;
    clear:both;
    color:#ffffff;
}
.menu{
    width:100%;
    height:32px;
    background:#00ffff
}
.menu ul{
    float:left;
    list-style:none;
    /*background:url(../Images/accent.png)repeat-x;*/
    width:100%
}
.menu ul li{
    float:left;
    display:block;
}
.menu ul li a.top-link{
    height:32px;
    display:block;
    /*background:url(../Images/accent.png)repeat-x;*/
    line-height:32px;font-weight:bold;text-transform:uppercase;
    color:#ff0000;
    float:left;
    padding:0 10px
}
