/*
CSS Credit: http://www.templatemo.com/
*/

a:link, a:visited { 
	color: #b200ff; 
	text-decoration: none; 
	font-weight: bold; 
} 
a:active, a:hover { 
	color: #f5ea01; 
	text-decoration: underline; 
}

p {
	margin: 0px;
	padding: 0px;
}

.cleaner {
	clear: both;
	width: 100%;
	height: 1px;
	font-size: 1px;	
}

.cleaner_with_height {
	clear: both;
	width: 100%;
	height: 30px;
	font-size: 1px;	
}

.cleaner_with_divider {
	clear: both;
	width: 100%;
	height: 1px;
	font-size: 1px;	
	padding: 10px 0 0 0;
	margin: 0 0 10px 0;	
	border-bottom: 1px dotted #B79742;
}

.comment {
	padding-left: 20px;
	margin-left: 5px;
	background: url(images/templatemo_comment_icon.jpg) bottom left no-repeat;
}

/* content and header panel */
#templatemo_header_panel {
	clear: both;
	width:100%;
	margin: 0 auto;
	background: #000000 url(images/templatemo_top_bg.jpg) top center no-repeat; 
}

#templatemo_header_panel #templatemo_header_section{
	clear: both;
	width: 960px;
	height: 293px;
	margin: 0 auto;

}

#templatemo_header_section #templatemo_title_section{
	font-size: 55px;
	padding: 130px 0 10px 10px;
	color: #f5ea01;
}

#templatemo_header_section #tagline {
	padding: 15px 0 0 165px;
	font-size: 20px;
	color: #6b5927;
}

/* end of header */

/* menu */
#templatemo_menu_panel{
	clear: both;	
	width:100%;
	height: 47px;	
	margin: 0 auto;
	margin-bottom: 10px;
	color: #ffffff;
	background: #000000 url(images/templatemo_menu_bg_repeat.jpg) repeat-x;
}

#templatemo_menu_panel #templatemo_menu_section{
	width: 930px;
	height: 47px;	
	margin:0 auto;
	padding: 0 0 0 30px;
	color: #03a0a6;
	background:  url(images/templatemo_menu_bg.jpg) no-repeat;	
}

#templatemo_menu_section ul {
	float: left;
	width: 930px;
	margin: 0;
	padding: 15px 0 0 0;
	list-style: none;
}

#templatemo_menu_section ul li {
	display: inline;
}

#templatemo_menu_section ul li a{
	float: left;
	width: 110px;
	padding: 2px 0;
	margin-right: 5px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #99930d;
	border-right: 1px solid #333;	
}

#templatemo_menu_section li a:hover, #templatemo_menu_section li .current{
	color: #f5ea01;
}

#templatemo_menu_section li .last {
	border-right: none;
}
/* end of menu */

/* content */

#templatemo_content {
	clear: both;
	width: 1470px;
	margin: 0 auto;
    background:url('../Images/hinh-nen-3d-5.jpg')
}

#templatemo_content_column_one {
	float: left;
	width: 178px;
	border: 1px solid #846f34;
	margin: 0 0 0 10px;
	padding: 10px 0 10px 0;
	background: #b6ff00 top center no-repeat;
}

#templatemo_content_column_two {
	float: left;
	width: 960px;
	margin: 0 0 0 10px;
	padding: 0;
    background:#ffffff;
}

#templatemo_content_column_three {
	float: right;
	width: 268px;
	padding: 10px 0 10px 0;	
	margin: 10px 0 0 10px;	
	border: 1px solid #312f2b;
	background: #312f2b;
}

/* column one */

#templatemo_content_column_one .column_one_section {
	clear: both;
	margin: 0px 10px;
}

#templatemo_content_column_one h1 {
	margin: 0 0 10px 0;
	padding: 0 0 5px 0;
	font-size: 14px;
	color: #000;
	border-bottom: 1px dotted #000;
}

#templatemo_content_column_one .cleaner_with_divider {
	margin: 0 0 20px 0;	
}

#templatemo_content_column_one ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
#templatemo_content_column_one li {
	margin: 0px;
	padding: 0 0 5px 0;	
}
#templatemo_content_column_one a{
	color: #181714;
}

/* end of column one */
/* column two */

#templatemo_content_column_two .column_two_section {
	clear: both;
	width: 918px;
	padding: 20px;	
	margin-bottom: 10px;
	border: 1px solid #312f2b;
	background: #ffffff url(images/templatmeo_column_two_bg.jpg) top right no-repeat;	
}

#templatemo_content_column_two h1 {
	margin: 0 0 10px 0;
	padding: 0 0 10px 0;
	font-size: 16px;
	color: #f5ea01;
	border-bottom: 1px dotted #f5ea01;
}

#templatemo_content_column_two p{
	margin: 0 0 5px 0;
	padding: 0 0 5px 0;
}

#templatemo_content_column_two img {
	border: 5px solid #2e2d29;
	margin-bottom: 15px;
}

#templatemo_content_column_two .post_info {
	margin: 0 0 20px 0;
	color: #fff;
}

#templatemo_content_column_two .post_info a{
	color: #f5ea01;
	font-weight: normal;
}

#templatemo_content_column_two .post_comment {
	border-top: 1px solid #000;
	margin-top: 10px;
	padding: 10px 0 0 0;
}
/* end of column one */

/* column one */
#templatemo_content_column_three .column_three_section {
	clear: both;
	margin: 0px 10px;
	padding: 10px 0;
}

#templatemo_content_column_three .cleaner_with_divider {
	padding: 0px;
	margin: 0px;	
}

#templatemo_content_column_three h1 {
	margin: 10px 0 10px 0;
	padding: 0 0 10px 0;
	font-size: 14px;
	color: #fff;
	border-bottom: 1px dotted #FFF;
}

#templatemo_content_column_three a{
	font-weight: normal;
}

#templatemo_content_column_three ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#templatemo_content_column_three li {
	margin: 0 0 8px 0;
	padding: 0 0 8px 0;	
}

#templatemo_content_column_three #ad_section {
	clear: both;
	border-bottom: 1px solid #312f2b;
}

#ad_section h1{
	margin: 0 0 10px 10px;
	padding: 0px;
	font-size: 12px;
	font-weight: bold;
	border: none;
}

#ad_section .ad_125x125_box {
	float: left;
	margin: 0 0 10px 10px;
	width: 125px;
	height: 125px;
}

.ad_125x125_box img {
	border: none;
}

.column_three_section .popular_post {
	list-style: none;
	margin: 0;
	padding: 0;
}
.column_three_section .popular_post li{
	margin: 0 0 5px 0;
	padding: 0 0 5px 0;
	border-bottom: 1px solid #22250e;
}
/* end of column one */

/* for bottom palen */
#templatemo_bottom_panel{
	width: 960px;
	margin: 10px auto 0 auto;
	padding: 20px 0;
	background: url(images/templatemo_bottom_panel_bg.jpg) top center;	
}

#templatemo_bottom_panel .bottom_panel_section {
	margin-left: 10px;
	width: 550px;
	margin-bottom: 20px;
}

.bottom_panel_section h1 {
	color: #f2e304;
	font-size: 14px;
	margin: 0 0 5px 0;
	padding: 0 0 5px 0;
}

.bottom_panel_section p{
	margin-bottom: 5px;
	padding-bottom: 5px;
}
/* end of bottom */