﻿@model Web.Models.Post

@{
    ViewBag.Title = "Details";
}

<fieldset>
    <legend>Post</legend>
    <h7><div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div></h7>

    <h4><div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div></h4>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DayCreated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DayCreated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateUpdated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateUpdated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserProfile.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfile.UserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ChuyenMuc.TenCM)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ChuyenMuc.TenCM)
    </div>
</fieldset>
@Html.Partial("_addComment", new Web.Models.Comment(), ViewData) Comment
<fieldset>
    <legend>Comment</legend>
    <div id="resuft">
        @foreach (var comment in Model.Comments.OrderByDescending(x => x.DateCreated).Take(10))
        {
            <div class="display-field">
                <h2>Cach day: @Html.DisplayFor(x => comment.LastTime)</h2>
            </div>
            <div class="display-field">
                @Html.DisplayFor(x => comment.Body)
            </div>
        }
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
