﻿@model Web.Models.Post
<div class="display-label">
    @Html.DisplayNameFor(model => model.Title)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Title)
</div>

<div class="display-label">
    @Html.DisplayNameFor(model => model.Body)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Body)
</div>

<div class="display-label">
    @Html.DisplayNameFor(model => model.DayCreated)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.DayCreated)
</div>

<div class="display-label">
    @Html.DisplayNameFor(model => model.DateUpdated)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.DateUpdated)
</div>

<div class="display-label">
    @Html.DisplayNameFor(model => model.UserProfile.UserName)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.UserProfile.UserName)
</div>

<div class="display-label">
    @Html.DisplayNameFor(model => model.ChuyenMuc.TenCM)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.ChuyenMuc.TenCM)
</div>