﻿@model Web.Models.SanPham

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>SanPham</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TenSP)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TenSP)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Gia)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Gia)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ThongTin)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ThongTin)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DanhMuc.TenDM)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DanhMuc.TenDM)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
