﻿@model Web.Models.SanPham

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>SanPham</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.TenSP)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TenSP)
            @Html.ValidationMessageFor(model => model.TenSP)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Gia)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Gia)
            @Html.ValidationMessageFor(model => model.Gia)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ThongTin)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ThongTin)
            @Html.ValidationMessageFor(model => model.ThongTin)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DanhMucID, "DanhMuc")
        </div>
        <div class="editor-field">
            @Html.DropDownList("DanhMucID", String.Empty)
            @Html.ValidationMessageFor(model => model.DanhMucID)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
