﻿@model IEnumerable<Web.Models.SanPham>

@{
    ViewBag.Title = "Index";
}
    <div id="templatemo_content">

        <div id="templatemo_content_column_one" style="background-color:#ffffff;border-color:#ffffff">
            <div class="column_one_section">
                <h1>Chuyên Mục</h1>
                <ul>
                    @foreach(var item in Model)
                {
                        <table>
                            <tr>
                                <th>
                                    @Html.ActionLink(item.DanhMuc.TenDM, "Details/" + item.ID,"DanhMuc")
                                </th>
                            </tr>
                        </table>
                                }
                </ul>
            </div>

            <div class="cleaner_with_divider">&nbsp;</div>
        </div> <!-- end of column one -->

        <div id="templatemo_content_column_two">
            <table>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.TenSP)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Gia)
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(item.TenSP, "Details/" + item.ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Gia)
                        </td>
                        <td>
                            @Html.ActionLink("Đặt Mua", "Index")
                        </td>
                    </tr>
                }

            </table>
        </div> <!-- end of column two -->

        <div class="cleaner">&nbsp;</div>
    </div>
