﻿@model Web.Models.ChuyenMuc

@{
    ViewBag.Title = "Details";
}
<fieldset>
    <legend>ChuyenMuc</legend>
    <div class="display-field">
        <h7>@Html.DisplayFor(model => model.TenCM)</h7>
    </div>
</fieldset>
<fieldset>
    <legend>Post</legend>
    <div id="resuft">
        @foreach (var post in Model.Posts.OrderByDescending(x => x.DateUpdated).Take(10))
        {
            <div class="display-field">
                @Html.ActionLink(post.Title, "Details/"+post.ID, "Post")
            </div>
            <div class="display-field">
                @Html.DisplayFor(x => post.Body)
            </div>
        }
    </div>
</fieldset>
<h1>Thêm Bài Viết</h1>
@Html.Partial("_addPost", new Web.Models.Post(), ViewData)
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ChuyenMucID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
