﻿@{
    ViewBag.Title = "Dinh Dưỡng";
    Layout = "~/Views/Shared/TrangChu.cshtml";
}

<h2>DinhDuong</h2>
<fieldset>
    <legend>BaiViet</legend>
    <div id="resuft">
        @*@foreach (var BaiViet in Model.BaiViet.OrderByDescending(x => x.DateCreated).Take(10))
        {
            <div class="editor-label">
                @Html.LabelFor(model => model.Title)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Body)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Body)
                @Html.ValidationMessageFor(model => model.Body)
            </div>
        }*@
    </div>
</fieldset>