﻿<!DOCTYPE html>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/TrangChu/Index.cshtml";
}
@*@Html.ActionLink("Dinh Dưỡng","DinhDuong","TrangChu")*@
            <div class="box-img-pro-home">
            <img src="~/Content/Image/Untitled.png"/>
            </div>

            <h2>
                Khởi đầu vững chắc
                Tiến bước tương lai
            </h2>
            <div class="menu">
                <ul id="nav">
                    <li><a href="Index.cshtml" class="top-link">Trang Chủ</a></li>
                    <li><a href="TrangChu.html" class="top-link">Siêu Thị</a></li>
                    <li><a href="TrangChu.html" class="top-link">Thư Viện</a></li>
                    <li><a href="TrangChu.html" class="top-link">Đăng Bài</a></li>
                </ul>
            </div>
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Style.css" rel="stylesheet" />
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
            </div>
        </div>
    </header>
    <div class="main">

        @RenderBody()
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
            </div>
        </div>
    </footer>
</body>
</html>