﻿@model Web.Models.SanPham
@using (Html.BeginForm("Create", "SanPham", new { iddanhmuc = ViewData["iddanhmuc"] }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Add SanPham</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.TenSP)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TenSP)
            @Html.ValidationMessageFor(model => model.TenSP)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Gia)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Gia)
            @Html.ValidationMessageFor(model => model.Gia)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ThongTin)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ThongTin)
            @Html.ValidationMessageFor(model => model.ThongTin)
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}
