﻿@model Web.Models.DanhMuc

@{
    ViewBag.Title = "Details";
}
<fieldset>
    <legend>DanhMuc</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TenDM)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TenDM)
    </div>
</fieldset>
@Html.Partial("_addSanPham", new Web.Models.SanPham(), ViewData) Comment
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
