﻿@model IEnumerable<Web.Models.DanhMuc>

@{
    ViewBag.Title = "Index";
}
<div id="templatemo_content">

    <div id="templatemo_content_column_one"style="background-color:#ffffff;border-color:#ffffff">
        <div class="column_one_section">
            <h1>Chuyên Mục</h1>
            <ul>
                                @foreach(var item in Model)
                {
                                    <table>
                                        <tr>
                                            <th>
                                                @Html.ActionLink(item.TenDM, "Details/" + item.ID)
                                            </th>
                                        </tr>
                                    </table>
                                }
</ul>
        </div>

        <div class="cleaner_with_divider">&nbsp;</div>
    </div> <!-- end of column one -->

    <div id="templatemo_content_column_two">

    </div> <!-- end of column two -->

    <div class="cleaner">&nbsp;</div>
</div>
