﻿@model Blog_5.Models.Tag
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewTaginPost</title>
</head>
<body>
    <div>

        <table>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => new Blog_5.Models.Post().Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => new Blog_5.Models.Post().Body)
                </th>
                <th>
                    @Html.DisplayNameFor(model => new Blog_5.Models.Post().DayCreated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => new Blog_5.Models.Post().DateUpdated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => new Blog_5.Models.Post().UserProfile.UserName)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Posts)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Body)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DayCreated)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateUpdated)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserProfile.UserName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </td>
                </tr>
            }

        </table>
    </div>
</body>
</html>



