﻿<!DOCTYPE html>
<head>
    <link href="~/Content/Style.css"rel="stylesheet"/>
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div class="box-img-pro-home">
        <img src="~/Content/Image/Untitled.png" />
    </div>

    <h2>
        Khởi đầu vững chắc
        Tiến bước tương lai
    </h2>
    <div class="menu">
        <ul id="nav">
            <li><a href="http://localhost:5784" class="top-link"> Trang Chủ             </a></li>
            <li><a href="http://localhost:5784/SanPham/Index" class="top-link">  Siêu Thị  </a></li>
            <li><a href="TrangChu.html" class="top-link">  Thư Viện  </a></li>
             <li><a href="http://localhost:5784/Post/Create" class="top-link">  Đăng Bài  </a></li>
       </ul>
    </div>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
        <link href="~/Content/Style.css" rel="stylesheet" />
        <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
        <link href="~/Content/templatemo_style.css"rel="stylesheet"/>
        <header>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                </div>
        </header>
        <div id="templatemo_content">

            <div id="templatemo_content_column_one">
                <div class="column_one_section">
                    <h1>Chuyên Mục</h1>
                    <ul>
                        <li><a href="http://localhost:5784/ChuyenMuc/Details/1">Dinh Dưỡng</a></li>
                        <li><a href="http://localhost:5784/ChuyenMuc/Details/3">Đồ Dùng</a></li>
                        <li><a href="http://localhost:5784/ChuyenMuc/Details/4">Giáo Dục</a></li>
                        <li><a href="http://localhost:5784/ChuyenMuc/Details/2">Tin Tức</a></li>
                    </ul>
                </div>

                <div class="cleaner_with_divider">&nbsp;</div>

                <div class="column_one_section">
                    <h1>Yêu Con Nhất</h1>
                    <ul>
                        <li><a href="#">June 2048</a></li>
                        <li><a href="#">May 2048</a></li>
                        <li><a href="#">April 2048</a></li>
                        <li><a href="#">March 2048</a></li>
                        <li><a href="#">February 2048</a></li>
                        <li><a href="#">January 2048</a></li>
                        <li><a href="#">December 2023</a></li>
                        <li><a href="#">November 2023</a></li>
                        <li><a href="#">October 2023</a></li>
                        <li><a href="#">September 2023</a></li>
                    </ul>
                </div>

                <div class="cleaner_with_divider">&nbsp;</div>

                <div class="column_one_section">
                    <h1>Bài Viết Mới Nhất</h1>
                    <ul>
                        <li><a href="#">Pellentesque dolor</a></li>
                        <li><a href="#">Suspendisse a nibh</a></li>
                        <li><a href="#">Maecenas scelerisque</a></li>
                        <li><a href="#">Cura bitur mauris</a></li>
                        <li><a href="#">Proin vel libero id</a></li>
                    </ul>
                </div>

                <div class="cleaner_with_divider">&nbsp;</div>
            </div> <!-- end of column one -->

            <div id="templatemo_content_column_two">
                <div class="main">

                    @RenderBody()
                </div>
            </div> <!-- end of column two -->

            <div id="templatemo_content_column_three">

                <div id="ad_section">

                    <h1>Sponsors</h1>

                    <div class="ad_125x125_box">
                        <a href="http://www.templatemo.com/page/1" target="_parent"><img src="images/templatemo_ads.jpg" alt="ad 1" /></a>
                    </div>

                    <div class="ad_125x125_box">
                        <a href="http://www.templatemo.com/page/2" target="_parent"><img src="images/templatemo_ads.jpg" alt="ad 2" /></a>
                    </div>

                    <div class="ad_125x125_box">
                        <a href="http://www.templatemo.com/page/3" target="_parent"><img src="images/templatemo_ads.jpg" alt="ad 3" /></a>
                    </div>

                    <div class="ad_125x125_box">
                        <a href="http://www.templatemo.com/page/4" target="_parent"><img src="images/templatemo_ads.jpg" alt="ad 4" /></a>
                    </div>

                    <div class="cleaner">&nbsp;</div>
                </div> <!-- end of ads section -->

                <div class="column_three_section">
                    <h1>Link Liên Kết Các Website</h1>
                    <ul class="popular_post">
                        <li>
                        <a href="http://www.sieuthibeyeu.com"target="_blank">www.sieuthibeyeu.com</a>
                        </li>
                        <li>
                            <a href="http://friso.com.vn"target="_blank">friso.com.vn</a>
                        </li>
                        <li>
                            <a href="http://www.mamnon.com" target="_blank">www.mamnon.com</a>
                        </li>
                        <li>
                            <a href="http://www.hcm.edu.com" target="_blank">www.hcm.edu.com</a>
                        </li>
                    </ul>
                </div>

                <div class="cleaner_with_divider">&nbsp;</div>

                <div class="column_three_section">
                    <h1>About This Blog</h1>
                    <p>Etiam fringilla vestibulum nulla. Suspendisse venenatis. Cum sociis natoque penatibus et magnis  montes, nascetur ridiculus mus. Morbi dapibus dolor sit amet metus suscipit iaculis. <a href="#">read more</a></p>
                </div>

            </div> <!-- end of column three -->

            <div class="cleaner">&nbsp;</div>
        </div> <!-- end of content -->

        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>
        @RenderSection("scripts", required: false)
</body>
